table {
    border-width: 1px;
    border-color: #999999;
    border-collapse: collapse;
    text-align: center;
}

table td {
    background:#dcddc0;
    border-width: 1px;
    padding: 8px;
    border-style: solid;
}

.stateHref {

}
.nextTimeHref {

}
